[Unit]
Description=CubeSat OBC Service
After=network.target mosquitto.service

[Service]
User=%i
WorkingDirectory=/home/%i/cubesat-sim/obc
ExecStart=/home/%i/cubesat-sim/venv/bin/python main.py
Restart=always
RestartSec=10s
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target